<div>
  <h1>Address Book</h1>
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.city }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="add()">Add Record</button>
  <button class="b2" (click)="delete()">Delete Record</button>
</div>
<router-outlet></router-outlet>
